:root {
    --primary: #071422;
    --primary-010: #375474;
    --primary-020: #0b1f32;
    --primary-030: #0b1b2b;
    --primary-040: #112131;

    --secondary: #e7edf4;
    --secondary-010: #afc2d4;
    --secondary-020: #6e87a2;
    --secondary-030: #3a526b;
    --secondary-040: #ffffff1e;

    --black-010: #0000001c;

    --blue-010: #3294f8;
}